<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
    <a href="/blog/">Inicio</a>
    {% if user.is_authenticated %}
        <a href="create-post/">Crear un post</a>
        <a href="mis-post/">Mis Post</a>
        <a href="/blog/logout/">Cerrar sesion</a><br><br>
        <h1>Hola!!  {{ user.username }}!</h1>
        {% else %}
        <a href="/blog/login">Inicia Sesion</a>
        <h1>Hola!</h1>
    {% endif %}
     <form method="get">
        
        <input type="text" name="query"/>
        <input type="submit" value="buscar"/>
    </form>
  
    {% for conte in contenido %}
             <ul>
                <li><a href="/blog/view-post/{{conte.id}}">{{conte}} </a>
                    <a href="/blog/delete-post/{{conte.id}}">Eliminar
                </li>
            </ul>
    {% endfor %}
    
    
</body>
</html>