<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>{{post.title}}</title>
</head>
<body>
    {% comment %}
        bueno para recordar si queremos ir a la pagina de inicio
        y en nuestra url le pusimos el includen de nuestra 
        app con el nombre en la url ejemplo
        url(r'^blog/', include('blog.urls'))
        entonces para ir al inicio solo ponemos /blog/ y ya
    {% endcomment %}
    <a href="/blog/">Inicio</a>
    <section>
        <article>
            <h1>{{post.title}}</h1>
            <p>{{post.content}}</p>
        </article>
    </section>
    <aside>
        <p>acerca del autor:</p>
        <p>Mi nombre es {{post.user.first_name}}, {{post.user.about}}</p>
    </aside>
        <br>
    <h3>Comentarios</h3>
        <br>
    <article>
        {% for comentarios in comentari %}
            <p>{{comentarios.user}} dice: </p>
            <p>{{comentarios.commentary}}</p>
        {% endfor %}
    </article>
    <form  method="post">
        {% csrf_token %}
            {{form.commentary}}
            <br>
        <input type="submit" value="comentar">
    </form>

    <br>
    <a href="/blog/edit-post/{{post.id}}">editar</a>
</body>
</html>